* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.menu {
  background-color: #31363b;
  color: #eee;
  padding: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
}
main {
  height: 100vh;
  display: grid;
  background-color: #212529;
  color: #eee;
  /*Template mobile first*/
  grid-template-areas:
    "encabezado"
    "seccion"
    "pie";
}

aside {
  display: none;
}
/*
main > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/

/*Areas del Layout*/
header {
  grid-area: encabezado;
}
aside:first-of-type {
  grid-area: izquierda;
}
section {
  grid-area: seccion;
}
aside:last-of-type {
  grid-area: derecha;
}
footer {
  grid-area: pie;
}
